.navbar {
    background-color: #333;
    padding: 1rem;
    text-decoration: none;
  }
  .nav-items {
    list-style: none;
    display: flex;
  }
  .nav-item {
    position: relative;
    margin-right: 2rem;
  }
  .nav-item:hover .mega-menu {
    display: block;
  }
  .mega-menu {
    display: none;
    position: absolute;
    background-color: white;
    padding: 1rem;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .submenu {
    margin-bottom: 1rem;
  }
  Link{
    color: white;
  }
  